## ratings feature 생성
### item마다 user로부터 시청된 횟수를 가지고 55 이하이면 0, 55 초과이면 1

In [1]:
import pandas as pd
import numpy as np
import os
import json
from collections import defaultdict
import time

In [2]:
data_path = '/opt/ml/input/data/'
train_df = pd.read_csv(os.path.join(data_path, 'interactions.csv')) # 전체 학습 데이터

In [7]:
rating_df = pd.read_csv(os.path.join(data_path, 'years.csv'))
rating_df.drop('year', axis=1, inplace=True)
rating_df

       item
0      1348
1     44587
2      4768
3      8235
4      8609
...     ...
6801   6988
6802   7243
6803   3310
6804   7065
6805   8511

[6806 rows x 1 columns]

In [4]:
w_item = defaultdict(int)
for idx, row in train_df.iterrows():
    w_item[row['item']] += 1

In [5]:
keys = w_item.keys()
unpopular = list()
for k in keys:
    if w_item[k] <= 55:
        unpopular.append(k)

In [8]:
rating_df['ratings'] = 1
for idx, row in rating_df.iterrows():
    if row['item'] in unpopular:
        rating_df['ratings'][idx] = 0

In [9]:
rating_df

       item  ratings
0      1348        1
1     44587        1
2      4768        1
3      8235        1
4      8609        1
...     ...      ...
6801   6988        1
6802   7243        1
6803   3310        1
6804   7065        1
6805   8511        1

[6806 rows x 2 columns]

In [19]:
rating_df.to_csv("/opt/ml/input/data/ratings.csv", index = False)