## title embedding
### title을 SBERT에 넣어 생성된 embedding을 feature로 사용

In [2]:
!pip install -U transformers sentence-transformers
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer

In [3]:
!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension
model = SentenceTransformer('all-MiniLM-L6-v2')

In [4]:
titles = pd.read_csv("/opt/ml/input/data/titles.csv")
titles.head()

   item                             title
0   318  Shawshank Redemption, The (1994)
1  2571                Matrix, The (1999)
2  2959                 Fight Club (1999)
3   296               Pulp Fiction (1994)
4   356               Forrest Gump (1994)

In [ ]:
title_list = titles['title'].values.tolist()

In [6]:
embeddings = model.encode(title_list)

In [ ]:
embeddings = embeddings.tolist()

In [ ]:
titles.insert(2, 'embedding', embeddings)

In [9]:
titles.drop('title', axis=1, inplace=True)

In [10]:
titles.rename(columns = {'embedding':'title'}, inplace=True)

In [11]:
titles

        item                                              title
0        318  [-0.08697368949651718, 0.01564069278538227, -0...
1       2571  [-0.12102868407964706, -0.0005587906343862414,...
2       2959  [-0.11695955693721771, -0.043499525636434555, ...
3        296  [-0.04692617803812027, -0.03744346648454666, -...
4        356  [-0.1142452284693718, 0.005964567419141531, -0...
...      ...                                                ...
6801   73106  [-0.028694959357380867, 0.003568911924958229, ...
6802  109850  [-0.04064356908202171, 0.010910016484558582, -...
6803    8605  [-0.08274809271097183, -0.01952492631971836, -...
6804    3689  [-0.09768440574407578, 0.09024706482887268, 0....
6805    8130  [-0.048040807247161865, -0.04782863333821297, ...

[6806 rows x 2 columns]

In [20]:
titles.to_csv("/opt/ml/input/data/titles_sbert.csv", index = False)